#rh-full-cover > .ibg-bg {
  background-image: url( "#{$assetPath}/img/lg/bg.jpg");  
}

#rh-content div.logo {
  padding: 0 32px 0 0;
}

#rh-content div.logo img {
  max-width: 300px;
  height: 80px;
  width: auto;  
}

#rh-img-desc {
  right: 40px;
  bottom: 32px;
}